/* ======== TAG SELECTORS ========*/
h1 { color: blue; }

img:hover {
	background-color: red;
}


/* ======== CLASS SELECTORS ========*/
.broccoli {
	background-color: lightblue;
}

.mango {
	background-color: yellow;
	border-radius: 25%;
}
/* ======== ID SELECTORS ========*/

#heading {
	color: red;
}